body {
    background-image: url(bricks_wall.jpg);
    height: 1000px;
}

.door1 {
    width: 331px;
    height: 700px;
    background-image: url(doorclosed.png);
    bottom: 100px;
    position: fixed;
    margin-left: 100px;
    transform: rotateY(0deg);
    transition-duration: 2s;
}

.opendoor {
    height: 646px;
    width: 492px;
    position: fixed;
    bottom: 13px;
    left: 45px;
    background-image: url(door.png);
    background-repeat: no-repeat;
    transform: rotateY(0deg);
    transition-duration: 5s;
    z-index: 1;
}

.opendoor:hover {
    transform: rotateY(90deg);
    transition: 5s ;
}

h1 {
    color: white;
    text-align: center;
    font-size: 60px
}

.door2 {
    width: 331px;
    height: 700px;
    background-image: url(doorclosed.png);
    bottom: 100px;
    position: fixed;
    left: 637.5px;
    transform: rotateY(0deg);
    transition-duration: 5s;
}

.door3 {
    width: 331px;
    height: 700px;
    background-image: url(doorclosed.png);
    bottom: 100px;
    position: fixed;
    left: 1175px;
    transform: rotateY(0deg);
    transition-duration: 5s;
}

.text {
    color: white;
    width: 246px;
    text-align: center;
    align-content: center;
    height: 300px;
    z-index: -1;
    font-size: 30px;
    margin-left: 45px;
    margin-top: 200px;