/*body {
        height: auto;
        width: auto;
    }*/
    
    .title {
        text-align: center;
        color: #90359E;
        margin-top: 100px;
        animation: blinks;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }
    
    .title:hover {
        transform: scale(1.4);
        animation-play-state: paused;
    }
    
    @keyframes blinks {
         0% {
             animation-duration: 6s;
             animation-iteration-count: infinite;
         }   
         
         10% {
             color: #80359E;
         }
         
         20% {
             color: #47EAE3;
         }
         
         30% {
             color: #5E95EA;
         }
         
         40% {
             color: #42AA30;
         }
         
         50% {
             color: #6EFFF5;
         }
         
         60% {
             color: #FF19A6 ;
         }
         
         70% {
             color: #C500FF;
         }
         
         80% {
             color: #17CC86 ;
         }
         
         90% {
             color: #1485CC;
         }
         
         100% {
             color:#FFF;
         }
        
    }
    
    .title2 {
        text-align: center;
        color: #90359E;
        margin-top: 100px;
        animation: blinks2;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-delay: .6s;
    }
    
    .title2:hover {
         transform: scale(1.4);
         animation-play-state: paused;
    }
    
    @keyframes blinks2 {
        
        0% {
             animation-duration: 6s;
         }   
         
         10% {
             color: #80359E;
         }
         
         20% {
             color: #47EAE3;
         }
         
         30% {
             color: #5E95EA;
         }
         
         40% {
             color: #42AA30;
         }
         
         50% {
             color: #6EFFF5;
         }
         
         60% {
             color: #FF19A6 ;
         }
         
         70% {
             color: #C500FF;
         }
         
         80% {
             color: #17CC86 ;
         }
         
         90% {
             color: #1485CC;
         }
         
         100% {
             color: blue;
         }
        
    }
    
    .title3 {
        text-align: center;
        color: #90359E;
        margin-top: 100px;
        animation: blinks3;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-delay: 1.2s;
    }
    
    .title3:hover {
        transform: scale(1.4);
        animation-play-state: paused;
        
    }
    
    @keyframes blinks3 {
        
        0% {
             animation-duration: 6s;
         }   
         
         10% {
             color: #80359E;
         }
         
         20% {
             color: #47EAE3;
         }
         
         30% {
             color: #5E95EA;
         }
         
         40% {
             color: #42AA30;
         }
         
         50% {
             color: #6EFFF5;
         }
         
         60% {
             color: #FF19A6 ;
         }
         
         70% {
             color: #C500FF;
         }
         
         80% {
             color: #17CC86 ;
         }
         
         90% {
             color: #1485CC;
         }
         
         100% {
             color: blue;
         }
    }
    
    .part1 {
        font-size:20px; 
        margin:20px;  
        padding-right: 20px;
        padding-left: 20px;
    }
    
.header_nav {
    word-spacing: 50px;
    height: 50px;
    background-color: #599DEA;
    font-size: 30px;
    margin-top: 50px;
}
    
#header {

    position:fixed;

    height:100px;

    width:1090px;

    background-color:#406694;

    top:5px;

    margin:10px;
    
    left: 17%;

    text-align:center;


}

	.dude:hover {

		-moz-box-shadow: 3px 3px 4px #000; 

        -webkit-box-shadow: 3px 3px 4px #000; 

        box-shadow: 3px 3px 4px #000; 

 }

#nav {

        line-height:30px;

        height: 250px;

        width: 250px;

        position: fixed;

	    top: 650px;

	    margin-left: 280px;

    	background-color:#38495E;
    
        font-size: 30px;

	    text-align: center;
	    
	    animation: blinks2;
	    
	    animation-iteration-count: infinite;
	    
	    animation-delay: 8s;
	}
    
    #nav:hover {
        -moz-box-shadow: 3px 3px 4px #000; 

        -webkit-box-shadow: 3px 3px 4px #000; 

        box-shadow: 3px 3px 4px #000; 

    }


#nav2 {

    line-height: 30px;

    background-color: #38495E;

    height:250px;

    width:250px;

    position: fixed;

	top: 650px;

	left: 700px;

	text-align:center;
    
    font-size: 30px;
    
    

}
    
    #nav2:hover {
        -moz-box-shadow: 3px 3px 4px #000; 

        -webkit-box-shadow: 3px 3px 4px #000; 

        box-shadow: 3px 3px 4px #000;    
    }

    #nav3 {

        line-height:30px;

        background-color:#38495E;

        height:250px;

        width:250px;

        position:fixed;

	    top:650px;

	    right: 18%;

	    text-align:center;
    
        font-size: 30px;

}
    
    #nav3:hover {
        -moz-box-shadow: 3px 3px 4px #000; 

        -webkit-box-shadow: 3px 3px 4px #000; 

        box-shadow: 3px 3px 4px #000;     
    }
    
#section {

        position:relative;

        height:400px;

        width:910px;

        background-color:#1F3147 ;

        top: 200px;
    
        margin:10px;

        left: 390px;

        text-align:center;

}

	.special:hover {

		-moz-box-shadow: 3px 3px 4px #000; 

        -webkit-box-shadow: 3px 3px 4px #000; 

        box-shadow: 3px 3px 4px #000; 

 }

#footer {

    position:fixed;

    height:10px;

    width:1090px;

    background-color:grey;

    top:820px;

}

a:link {

         color: red;

	     text-decoration: none;
    
}
    
a:visited {

        color: red;

        text-decoration: none;

}

a:hover {

        color: aquamarine;

        text-decoration: none;

}