#rock {
    width: 30%;
    height: 85%;
    background-color: dimgray;
    position: absolute;
    left: 2.5%;
    border-style: solid;
}

#paper {
    width: 30%;
    height: 85%;
    position: absolute;
    left: 35%;
    border-style: solid;
}

#scissor {
    width: 30%;
    height: 85%;
    background-color: greenyellow;
    position: absolute;
    left: 67.5%;
    border-style: solid;
}

header {
    width: 95%;
    height: 10%;
    margin: 2.5%;
    margin-top: 0;
    border-style: inset;
}

footer {
    width: 95%;
    height: 10%;
    background-color: white;
    position: absolute;
    top: 100%;
    margin: 40px;
    border-style: inset;
}

h1 {
    text-align: center;
    font-size: 56px;
    margin: 0;
}

#switch {
    position: absolute;
    left: 50%;
    top: 25%;
}

#rockb {
    position: absolute;
    left: 50%;
    top: 25%;
}

#paperb {
    position: absolute;
    left: 50%;
    top: 25%;
}

#scissorb {
    position: absolute;
    left: 50%;
    top: 25%;
}