.winopen1 {
    position: absolute;
    background-image: url(windowopen.png);
    width: 162px;
    height: 179px;
    top: 200px;
    left : 350px;
    transition-duration: 1s;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    background-color: black;
}

.winseal {
    background-image: url(windowseal.png);
    padding: 0px;
    margin: 0px;
    opacity: 1;
}

.winopen1:hover {
    position: absolute;
    top: 185px;
    transition-duration:1s;
    left: 350px;
    padding: 0px;
    margin: 0px;
    z-index: -1;

}

body {
    background-color: black;
    padding: 0px;
    margin: 0px;
    opacity: 1;

}

.blackbox {
    top: -100px;
    background-color: black;
    height: 200px;
    width 100%;
  //  margin: 0px;
    z-index: 3;
}

.winopen2 {
    position: absolute;
    background-image: url(windowopen.png);
    width: 162px;
    height: 179px;
    top: 200px;
    left : 750px;
    transition-duration: 1s;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    opacity: 1;
    background-color: black;
}
.winopen2:hover {
    position: absolute;
    top: 185px;
    transition-duration:1s;
    left: 750px;
    padding: 0px;
    margin: 0px;
    z-index: -1;

}

.winopen3 {
    position: absolute;
    background-image: url(windowopen.png);
    width: 162px;
    height: 179px;
    top: 200px;
    left : 1150px;
    transition-duration: 1s;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    opacity: 1;
    background-color: black;
}

.winopen3:hover {
    position: absolute;
    top: 185px;
    transition-duration:1s;
    left: 1150px;
    padding: 0px;
    margin: 0px;
    z-index: -1;

}

h1 {
    margin: 0;
    color: white;
    font-size: 72px;
}

.winopen3:active {
    position: absolute;
    top: 100px;
    transition-duration:.6s;
    left: 1150px;
    padding: 0px;
    margin: 0px;
    z-index: -1;

}

.winopen1:active {
    position: absolute;
    top: 100px;
    transition-duration:.6s;
    left: 350px;
    padding: 0px;
    margin: 0px;
    z-index: -1;

}

.winopen2:active {
    position: absolute;
    top: 100px;
    transition-duration:.6s;
    left: 750px;
    padding: 0px;
    margin: 0px;
    z-index: -1;

}